[submodule "modules/nodec_physics/bullet3"]
	path = platforms/sdks/bullet3
	url = https://github.com/bulletphysics/bullet3.git
	ignore = dirty
[submodule "platforms/sdks/freetype-windows-binaries"]
	path = platforms/sdks/freetype/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
